<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QUIZ-APP</title>
  <link rel="stylesheet" href="/styles.css" />
  <%- include('partials/head-boot.ejs') %>
</head>

<body>
    <%- include('./partials/nav') %>
  <div class="middle">
    <div class="greet container-fluid">
      <% if(!user) { %>
        <h1>Welcome, Guest </h1>
        <% } else {%>
          <h1>Welcome, <%= user.name %>
          </h1>
          <% }%>
            <button onclick="location.href='/quiz/createQuizByAi'" id="ai-quiz-btn">Instant AI-Generated Quiz</button>

    </div>
    <div class="mainbody bg-body-secondary">
      <h3>LIVE-NOW</h3>
      <br>
      <div class="quiz-list">
        <% if (liveQuizes.length> 0) { %>
          <% liveQuizes.forEach((quiz)=> { %>
            <div class="card">
              <h4>
                <%= quiz.title %>
              </h4>
              <p>Maker : <%= quiz.createdBy.name %>
              </p>
              <p>Description: <%= quiz.description %>
              </p>
              <p>Ends At: <%= quiz.endTime %>
              </p>
              <p>Duration : <%= quiz.duration %> Mins</p>
              <button class="btn btn-secondary w-25" onclick="location.href='/quiz/start/<%= quiz._id %>'">Start Quiz</button>
              <br>
              <div class="card-footer " style="display: flex; justify-content: space-between; ">
                <div class="vote-container"><button data-id="<%=quiz._id%>" class="vote-btn upvote">↑ </button><span
                    class="net-score">
                    <%=quiz.upvote - quiz.downvote %>
                  </span>
                  <button data-id="<%=quiz._id%>" class="vote-btn downvote">↓</button>
                </div>
                <div class="comments"><a href="/quiz/<%= quiz._id %>/comments">Comments</a></div>
              </div>


            </div>
            <% }) %>
              <% } else { %>
                <p>No live quizes available.</p>
                <% } %>
                  <br>
                  <h3>Upcoming Quizes</h3>
                  <br>
                  <div class="quiz-list">
                    <% if (upcomingQuizes.length> 0) { %>
                      <% upcomingQuizes.forEach((quiz)=> { %>
                        <div class="card">
                          <h4>
                            <%= quiz.title %>
                          </h4>
                          <p>Maker : <%= quiz.createdBy.name %>
                          </p>
                          <p>Description: <%= quiz.description %>
                          </p>
                          <p>Starts At: <%= quiz.startTime %>
                          </p>
                          <p>Duration : <%= quiz.duration %> Mins</p>
                          <!-- <button onclick="location.href='/quiz/start/<%= quiz._id %>'">Start Quiz</button> -->
                          <div class="card-footer " style="display: flex; justify-content: space-between; ">
                            <div class="vote-container"><button data-id="<%=quiz._id%>" class="vote-btn upvote">↑
                              </button><span class="net-score">
                                <%=quiz.upvote - quiz.downvote %>
                              </span>
                              <button data-id="<%=quiz._id%>" class="vote-btn downvote">↓</button>
                            </div>
                            <div class="comments"><a href="/quiz/<%= quiz._id %>/comments">Comments</a></div>
                          </div>
                        </div>
                        <% }) %>
                          <% } else { %>
                            <p>No upcoming quizes available.</p>
                            <% } %>

                  </div>
                  <br>
                  <h3>Past Quizes</h3>
                  <br>
                  <div class="quiz-list">
                    <% if (pastQuizes.length> 0) { %>
                      <% pastQuizes.forEach((quiz)=> { %>
                        <div class="card">
                          <h4>
                            <%= quiz.title %>
                          </h4>
                          <p>Maker : <%= quiz.createdBy.name %>
                          </p>
                          <p>Description: <%= quiz.description %>
                          </p>
                          <p>Duration : <%= quiz.duration %> Mins</p>
                          <button class="btn btn-secondary w-25"onclick="location.href='/quiz/start/<%= quiz._id %>'">Start Quiz</button>
                          <br>
                          <div class="card-footer " style="display: flex; justify-content: space-between; ">
                            <div class="vote-container"><button data-id="<%=quiz._id%>" class="vote-btn upvote">↑
                              </button><span class="net-score">
                                <%=quiz.upvote - quiz.downvote %>
                              </span>
                              <button data-id="<%=quiz._id%>" class="vote-btn downvote">↓</button>
                            </div>
                            <div class="comments"><a href="/quiz/<%= quiz._id %>/comments">Comments</a></div>
                          </div>
                        </div>
                        <% }) %>
                          <% } else { %>
                            <p>No past quizes available.</p>
                            <% } %>
                  </div>
      </div>

      <%- include('partials/updownvote.ejs') %>
      <%- include('partials/script-boot.ejs') %>
</body>

</html>