<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUIZ-APP</title>
    <link rel="stylesheet" href="/styles.css" />
    <%- include('partials/head-boot.ejs') %>
  </head>
  <body>
    <header>
    <%- include('./partials/nav') %>
  </header>
    <div class="middle">
      <div class="greet"><% if(!user) { %>
    <h1>Welcome, Guest </h1>
    <% } else {%>
      <h1>Welcome, <%= user.name %> </h1>
    <% }%>
    </div>
    <div class="mainbody">
      <table class="table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% allusers.forEach((entry, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= entry.name %></td>
            <td><%= entry.rating %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
      
    <%- include('partials/script-boot.ejs') %>
  </body>
</html>
