<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Live - quiz</title>
  <%- include('partials/head-boot.ejs') %>
  <style>
    #timer{
      height: 50px;
      width: 100px;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <header>
    <h1 >Live Quiz</h1>
  </header>

  <main>
    <div id="quiz-container">
      <div class="d-flex justify-content-between px-4"><h2>Quiz Title: <%= quiz.title %></h2>
      <div id="timer"class="bg-dark text-white ">00:00</div></div>
      

      <div id="question-container" class="px-5">
        <% quiz.questions.forEach((question, index) => { %>
          <div id="<%= question._id %>" class="question card p-3" data-index="<%= index %>">
            <h3><%= index+1 %>.<%= question.questionText %></h3>
            <% question.options.forEach((option, optIndex) => { %>
              <label>
                <input 
                  type="radio" 
                  name="question-<%= index %>" 
                  value="<%= option._id %>" />
                <%= option.optionText %>
              </label><br>
            <% }) %>
          </div>
        <% }) %>
      </div>

      <button class="btn btn-primary mx-5" id="submit-quiz">Submit Quiz</button>
    </div>
  </main>

  <script>
    document.getElementById('submit-quiz').addEventListener('click', function () {
      const answers = [];
      const questions = document.querySelectorAll('.question');

      questions.forEach((question) => {
        const selectedOption = question.querySelector('input[type="radio"]:checked');
        const selectedOptions = selectedOption ? [selectedOption.value] : [];

        answers.push({
          question: question.getAttribute('id'),
          selectedOptions: selectedOptions
        });
      });

      const quizId = '<%= quiz._id %>';

      fetch(`/quiz/submit/${quizId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          quizId: quizId,
          answers: answers
        })
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Network response was not ok');
        }
      })
      .then(data => {
        alert('Quiz submitted successfully!');
        window.location.href = '/';
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
    });
      const duration = '<%= quiz.duration %>';
      let ti = duration*60;

  setInterval(() => {
    let disText = Math.floor((ti)/60) + ":"+(ti)%60;
    document.getElementById("timer").innerText = disText;
    ti=ti-1;
  },1000);
  setTimeout(()=>{
    alert("Times UP! \n Answers will be auto submitted!" );
    document.getElementById("submit-quiz").click();
  },duration*60*1000);

  </script>
  <%- include('partials/script-boot.ejs') %>
</body>
</html>
