<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUIZ-APP</title>
    <link rel="stylesheet" href="/styles.css" />
    <%- include('partials/head-boot.ejs') %>
  </head>
  <body>
    <header>
    <%- include('./partials/nav') %>
  </header>
    <div class="middle">
      <div class="greet"><% if(!user) { %>
    <h1>Wecome, Guest </h1>
    <% } else {%>
      <h1>Wecome, <%= user.name %> </h1>
    <% }%>
    </div>
    <div class="mainbody">
        <h3>My Quizes</h3>
        <div class="quiz-list">
            <% if (quizes.length > 0) { %>
            <% quizes.forEach((quiz) => { %>
                <div class="card">
                <h4><%= quiz.title %></h4>
                <p><%= quiz.description %></p>
                <div class=" d-flex">
                  <button class="btn btn-secondary mx-2" onclick="location.href='/quiz/start/<%= quiz._id %>'">Start Quiz</button>
                <button class="btn btn-secondary" onclick="location.href='/quiz/result/?qid=<%= quiz._id %>&uid=<%= user._id %>'">View Result</button>
                </div>
                
                </div>
            <% }) %>
            <% } else { %>
            <p>No quizes available.</p>
            <% } %>
        </div>

    </div>
      
    <%- include('partials/script-boot.ejs') %>
  </body>
</html>
